{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="navigation">
    <div class="navigation-content container-fluid">

      <div class="row">

        <div class="col-sm-11">
          Hi {{ user.username }}!
        </div>

        <div class="col-sm-1">
        <span id="logout-icon">
          <a href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </span>
        </div>

      </div>

    </div>
  </div>


  <div id="task-list">

    <h2>TODOS</h2>

    <div id="todos">

      {% for task in object_list %}
        <div class="row item {{ task.status }}" id="item-{{ task.id }}">

          <div class="col-sm-1 tick" data-id="{{ task.id }}" data-status="{{ task.status }}">

            {% if task.status == 'active' %}
              <i id="tick-{{ task.id }}" class="far fa-circle"></i>
            {% else %}
              <i id="tick-{{ task.id }}" class="fas fa-check"></i>
            {% endif %}

          </div>

          <div class="col-sm-11 content">{{ task.text }}</div>

        </div>
      {% endfor %}
    </div>

  </div>


{% endblock %}