{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="navigation">
    <div class="navigation-content container-fluid">

      <div class="row">

        <div class="col-sm-11">
          Hi {{ user.username }}!
        </div>

        <div class="col-sm-1">
        <span id="logout-icon">
          <a href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </span>
        </div>

      </div>

    </div>
  </div>


  <div id="task-list">

    <h2>TODOS</h2>

    <div id="todos">

      {% for task in object_list %}
        <div class="row item {{ task.status }}">

          <div class="col-sm-1 tick">

            <a href="{% url "todo:toggle-task-status" task.id %}">
              {% if task.status == 'active' %}
                <i class="far fa-circle"></i>
              {% else %}
                <i class="fas fa-check"></i>
              {% endif %}
            </a>

          </div>

          <div class="col-sm-11 content">{{ task.text }}</div>

        </div>
      {% endfor %}
    </div>

  </div>


{% endblock %}