html {
  --light-color: #ffffff;
  --dark-color: #343a40;
  --primary-color: #94d82d;
  --light-low-opacity: rgba(255, 255, 255, .1);
  --dark-low-opacity: rgba(0, 0, 0, .1);
  --light-high-opacity: rgba(255, 255, 255, .5);
  --dark-high-opacity: rgba(0, 0, 0, .5);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 20px;
  color: var(--dark-color);
  padding: 0;
  margin: 0 auto !important;
  overflow-x: hidden;
  background-color: var(--primary-color) !important;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  color: var(--primary-color);
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.form {
  width: 410px;
  padding: 3em;
  box-sizing: border-box;
  max-width: 410px;
  font-size: 13px;
  color: var(--dark-color);
  background-color: var(--light-color);
  margin: 100px auto auto;
  border-radius: .25rem;
}

.form button {
  cursor: pointer;
  text-align: center;
  display: block;
  height: auto;
  width: 100%;
  font-size: 13px !important;
  font-weight: bold;
  padding: 9px 12px;
  box-sizing: border-box;
  background: var(--primary-color);
  color: var(--light-color);
  text-shadow: none;
  border: 1px solid transparent;
  border-radius: .25rem
}

.form input {
  box-sizing: border-box;
  font-size: 13px;
  font-weight: normal;
  width: 100%;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1em;
  background-position: 10px;
  background-repeat: no-repeat;
}

.errorlist {
  color: var(--danger);
  font-weight: 600;
}